<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Destination</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h2>Add Destination</h2>
		<form class="form-horizontal" style="padding: 20px 0" th:object="${destination}" th:action="@{save}" action="#" method="post">
			<div class="form-group">				
				<label class="control-label col-sm-2" for="country">Country: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Enter country" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="capital">Capital: </label> 
				<div class="col-sm-10">
					<input type="text" class="form-control" id="capital" th:field="*{capital}" placeholder="Enter capital" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="population">Population: </label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="population" th:field="*{population}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="bestTimeToVisit">Best Time to Visit: </label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="bestTimeToVisit" th:field="*{bestTimeToVisit}" placeholder="Enter month or season"/>
				</div>
			</div>
			<div class="form-group">				
				<label class="control-label col-sm-2" for="idealLengthOfVisit">Ideal Length of Visit: </label>
				<div class="col-sm-10">						
					<input type="text" class="form-control" id="idealLengthOfVisit" th:field="*{idealLengthOfVisit}" placeholder="Enter days or weeks" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="continents">Continent: </label>
				<div class="col-sm-10">
					<select id="continents" th:field="*{continent}" class="form-control">
						<option class="form-control" th:each="continent: ${continents}" th:value="${continent.id}" th:text="${continent.name}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="/destinationList" id="cancel" class="btn btn-danger">Cancel</a>
					<input type="submit" class="btn btn-success" value="Add"></input>
				</div>
			</div>
		</form>
	</div>
</body>
</html>