<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title>Destination List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Students</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome
				[[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Country</th>
				<th>Capital</th>
				<th>Population</th>
				<th>Best Time to Visit</th>
				<th>Ideal Length of Visit</th>
				<th>Continent</th>
				<th></th>
				<th></th>
				<th sec:authorize="hasRole('ADMIN')"></th>
			</tr>
			<tr th:each="destination:${destinations}">
				<td th:text="${destination.country}"></td>
				<td th:text="${destination.capital}"></td>
				<td th:text="${destination.population}"></td>
				<td th:text="${destination.bestTimeToVisit}"></td>
				<td th:text="${destination.IdealLengthOfVisit}"></td>
				<td th:text="${destination.continent.name}"></td>
				<td sec:authorize="hasRole('ADMIN')"><a
					th:href="@{/edit/{id}(id=${destination.id})}"
					class="btn btn-success">Edit</a></td>
				<td sec:authorize="hasRole('ADMIN')"><a
					th:href="@{/delete/{id}(id=${destination.id})}"
					class="btn btn-xs btn-danger">Delete</a></td>
			</tr>
			<tr></tr>
		</table>
	</div>
	<div sec:authorize="hasRole('ADMIN')"> <a href="/add" class="btn btn-primary">Add Destination</a></div>
</body>
</html>